<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Scheme=http;Server=localhost;Index=www-iot-rynninge-dev;Port=9200"/>
    <bufferSize value="0" />
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender" />
  </root>
</log4net>