<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch" xdt:Locator="Match(name)">
    <connectionString value="ELASTIC_APPENDER_CONNECTIONSTRING" xdt:Transform="Replace"/>
    <bufferSize value="0" />
  </appender>
</log4net>