<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
  <appender name="ElasticSearchAppender" type="IoTRynningeasenWWW.ElasticAppender, iot-rynningeasen-www">
    <connectionString value="DEFINED_IN_APPSETTINGS.json"/>
    <bufferSize value="0" />
  </appender>
  <appender name="RawSensorsAppender" type="IoTRynningeasenWWW.RawSensorsAppender, iot-rynningeasen-www">
    <connectionString value="DEFINED_IN_APPSETTINGS.json"/>
    <bufferSize value="0" />
  </appender>
  <logger name="rawsensors">
    <level value="ALL"/>
    <appender-ref ref="RawSensorsAppender"/>
  </logger>
  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender" />
  </root>
</log4net>